<section id="about" class="section about">
  <h2 class="about__title">Hero</h2>
  <div class="about-theatre">
    <h3 class="about-theatre__title">Самый лучший театр СПБ</h3>
    <p class="about-theatre__text">
      Как свидетельствуют архивные документы, первое каменное здание Большого театра начали
      возводить в 1775 году по проекту Антонио Ринальди. В дальнейшем, после того как Ринальди упал
      с лесов и не мог лично наблюдать за ходом работ, Екатерина II поручила немецкому театральному
      декоратору и архитектору Людвигу Филиппу Тишбейну создать новый проект театра, который и был
      воплощён архитекторами Ф. В. фон Бауром и М. А. Деденёвым. Открытие его состоялось в 1783
      году, хотя, основываясь на других свидетельствах, годом открытия можно считать 1784 год.
    </p>
  </div>
  <div class="about-numbers">
    <h3 class="about-numbers__title">немного о цифрах</h3>
    <ul>
      <li class="hero-contacts__item">
        <svg width="20px" height="20px" class="social__icon">
          <use href="./images/sprite.svg#"></use>
        </svg>
        <h4>1600 посадочный мест</h4>
      </li>
      <li>
        <svg width="20px" height="20px" class="social__icon">
          <use href="./images/sprite.svg#"></use>
        </svg>
        <h4>350 лет истории</h4>
      </li>
    </ul>
  </div>
  <picture>
    <source
      srcset="./images/gallery/desktop/.webp 1x, ./images/gallery/desktop/@2x.webp 2x"
      media="(min-width:1200px)"
      type="image/webp" />
    <source
      srcset="./images/gallery/desktop/.jpg 1x, ./images/gallery/desktop/@2x.jpg 2x"
      media="(min-width:1200px)"
      type="image/jpeg" />

    <source
      srcset="./images/gallery/tablet/.webp 1x, ./images/gallery/tablet/@2x.webp 2x"
      media="(min-width:768px)"
      type="image/webp" />
    <source
      srcset="./images/gallery/tablet/.jpg 1x, ./images/gallery/tablet/@2x.jpg 2x"
      media="(min-width:768px)"
      type="image/jpeg" />

    <source
      srcset="./images/gallery/mobile/.webp 1x, ./images/gallery/mobile/@2x.webp 2x"
      media="(max-width:767.98px)"
      type="image/webp" />
    <source
      srcset="./images/gallery/mobile/.jpg 1x, ./images/gallery/mobile/@2x.jpg 2x"
      media="(max-width:767.98px)"
      type="image/jpeg" />

    <img src="./images/gallery/mobile/.jpg" alt="UI Designer" width="270"
  /></picture>
</section>
