<section id="about" class="section advantages">
  <h2 class="visually-hidden">advantages</h2>
  <div>
    <ul>
      <li>2018</li>
      <li>2019</li>
      <li>2020</li>
    </ul>
    <ul>
      <li>
        <svg width="20px" height="20px" class="social__icon">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </li>
      <li>
        <svg width="20px" height="20px" class="social__icon">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </li>
      <li>
        <svg width="20px" height="20px" class="social__icon">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </li>
      <li>
        <svg width="20px" height="20px" class="social__icon">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </li>
      <li>
        <svg width="20px" height="20px" class="social__icon">
          <use href="./images/sprite.svg#"></use>
        </svg>
      </li>
    </ul>
    <p>Лучший театр по мнению театральных критиков Парижа</p>
  </div>
</section>
