<section id="hero" class="section hero">
  <div class="container">
    <h1 class="visually-hidden">Hero</h1>
    <header class="container header">
      <div class="menu-container" id="menu-container" data-menu>
        <nav class="header-navigation">
          <ul class="header-nav__list list" data-menu-list>
            <li class="header-nav__item">
              <a href="#" class="header-navi__link link">Главная</a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-navi__link link scrollto">О театре</a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-navi__link link scrollto">Наши постановки</a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-navi__link link scrollto">Партнеры театра</a>
            </li>
            <li class="header-nav__item">
              <a href="#" class="header-navi__link link scrollto">Контакты</a>
            </li>
          </ul>
        </nav>
        <div><a class="contacts__tel link" href="tel:+74951234567">+7 495 123-45-67</a></div>
      </div>
    </header>
    <div class="hero-contacts">
      <ul class="hero-contacts__list">
        <li class="hero-contacts__item">
          <a
            class="link social__link social-link--grey"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="20px" height="20px" class="social__icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-contacts__item">
          <a
            class="link social__link social-link--grey"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="20px" height="20px" class="social__icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-contacts__item">
          <a
            class="link social__link social-link--grey"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="20px" height="20px" class="social__icon">
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li class="hero-contacts__item">
          <a
            class="link social__link social-link--grey"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg width="20px" height="20px" class="social__icon">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="hero-contacts__title">контактная информация</p>
    </div>
    <div class="hero-content">
      <h1 class="hero__title">Большой театр</h1>
      <p>
        Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с 1886 года —
        Петербургская консерватория. Первое постоянное в Санкт-Петербурге, крупнейшее в России и
        одно из крупнейших театральных зданий в Европе XVIII.
      </p>
      <button type="button">Афиша</button>
      <img />
    </div>
  </div>
</section>
